body {
    background-color: rgb(0, 0, 0);
}

.header{
    background-color: rgb(253, 253, 253);
    display:flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
   border: indianred solid 10px;
}

p, h2{
    text-align: center;

}

.menu{
    margin-right:30px;
    
}

.menu a{
     margin-left: 20px;
}